* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
}

h2 {
  font-family: "dancing-bold", cursive;
  color: #dba521;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 35px;
}

h4 {
  font-weight: lighter;
  letter-spacing: 1px;
}

body {
  background-color: #1f1f1f;
}

/* Le selecteur ".container" est le représentant del'attribut class dans une balise html  */

.container {
  /* largeur par défaut */
  width: 1440px;
  /*pour centrer la page dans le navigateurs*/
  margin: 0 auto;
  background-color